.dropdown-calendar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  margin-right: 120px;
  width: 9rem;
  height: 2.5rem;
  padding-left: 20px;
}

.dropdown-calendar {
  font-weight: 600;
  font-size: 1.4rem;
}

.calendar-container {
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  top: 10.5%;
}

.day-button {
  background-color: #f4f5f5;
  border-radius: 8px;
  height: 2rem;
  align-items: center;
  border: solid 1px #f4f5f5;
}
