.dropdown-calendar {
  display: flex;
  align-items: center;
  background-color: white;
  margin-right: 120px;
  width: 9rem;
  height: 2.5rem;
  padding-left: 20px;
  position: relative; /* Mantém o contexto de posição para o calendário */
}

.dropdown-calendar > span {
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.calendar-container {
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  top: 100%; /* Posiciona o calendário abaixo do botão */
  left: 50%; /* Centraliza o calendário em relação ao contêiner */
  transform: translateX(-50%); /* Ajusta o alinhamento para centralizar exatamente abaixo do texto "dia" */
  border-radius: 8px; /* Adiciona bordas arredondadas ao calendário */
  overflow: hidden; /* Garante que o conteúdo do calendário respeite as bordas arredondadas */
}

.day-button {
  background-color: #f4f5f5;
  border-radius: 8px;
  height: 2rem;
  align-items: center;
  border: solid 1px #f4f5f5;
}