.edit-task {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f5;
  position: absolute;
  top: 20%;
  left: 52%;
  height: 400px;
  width: 400px;
  padding: 1.5rem;
  border-radius: 8px;
  z-index: 1000;
}

.edit-task > input {
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 44px;
  border-radius: 8px;
}

.edit-task > textarea {
  height: 6rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 8px;
  border-radius: 8px;
  margin-bottom: 90px;
}

.edit-task > div {
  display: flex;
  justify-content: center;
}
.edit-task > div > button {
  height: 2.5rem;
  width: 6rem;
  margin: 10px;
}
