ul {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: none;
  margin-left: 60px;
  margin-right: 120px;
}

li {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-left: 12px;
  height: 5vh;
  font-size: 1.3rem;
  background-color: white;
  font-weight: 600;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-self: center;
}

.completed-task {
  text-decoration: line-through;
  transition: text-decoration 1s ease-in-out;
}

.incomplete-task {
  text-decoration: none;
  transition: text-decoration 1s ease-in-out;
}
