.task-options-div {
  margin-left: auto;
  margin-right: 8px;
  max-height: 2rem;
  max-width: 1.5rem;
  margin-bottom: 1px;
}

.task-options {
  position: relative;
  background-color: white;
  margin-top: 1px;
  width: 7rem;
  z-index: 999;
  font-weight: 400;
}

.task-options > div:hover {
  background-color: #f4f5f5;
  color: black;
}

.task-options-div button {
  background-color: #f4f5f5;
  border: none;
  border-radius: 4px;
  color:black;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}